{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

{{ $brews := list
     "gnupg"
     "yubikey-personalization"
     "hopenpgp-tools"
     "ykman"
     "pinentry-mac"
     "wget" -}}

{{ $casks := list
     "dbeaver-community"
     "font-fira-code"
     "font-jetbrains-mono"
     "gimp"
     "insomnia"
     "jetbrains-toolbox"
     "obsidian"
     "rectangle"
     "rancher" -}}

log::info "installing macos brews"
brew tap homebrew/cask-fonts
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
log::info::complete

{{- end }}
