{{- if .gitpod -}}
#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

{{ $packages := list
     "nixpkgs.bat"
     "nixpkgs.delta"
     "nixpkgs.exa"
     "nixpkgs.fd"
     "nixpkgs.mcfly"
     "nixpkgs.neovim"
     "nixpkgs.ripgrep"
     "nixpkgs.tmux" -}}

log::info "installing nix packages"
{{ range ($packages | sortAlpha | uniq) -}}
nix-env -iA "{{ . }}"
{{ end -}}
log::info::complete

{{- end }}
