{{/* boolean feature tags */}}
{{- $docker := false -}}{{/* true if this machine should have Docker installed */}}
{{- $gitpod := false -}}{{/* true if this machine is gitpod */}}
{{- "" -}}

{{/* detect Gitpod */}}
{{- if or (env "GITPOD_WORKSPACE_ID") (env "GITPOD_BUILD") -}}
{{-   $gitpod = true -}}
{{- end -}}

{{- if not $gitpod -}}
{{-   $docker = true -}}
{{- end -}}

[data]
    docker = {{ $docker }}
    gitpod = {{ $gitpod }}
