# homebrew
{{- if eq .chezmoi.os "darwin" }}
eval $(/opt/homebrew/bin/brew shellenv)
{{- else }}
eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{- end }}

# load plugins via sheldon
eval "$(sheldon source)"

{{- if .work }}
export LC_ALL=en_US.UTF-8
{{- end }}
export PATH="${PATH}:/usr/local/bin"
export PATH="${PATH}:${HOME}/.local/"
export PATH="${PATH}:${HOME}/.local/bin"
export PATH="${PATH}:${HOME}/.cargo/bin"
{{- if .work }}
export PATH="${HOME}/.yarn/bin:${HOME}/.config/yarn/global/node_modules/.bin:${PATH}"
export PATH="${HOME}/Library/Application Support/JetBrains/Toolbox/scripts:${PATH}"

# https://github.com/orgs/Homebrew/discussions/6798#discussioncomment-16604536
export DYLD_LIBRARY_PATH="/opt/homebrew/opt/expat/lib"
{{- end }}

export BAT_THEME=Nord
export EDITOR="nvim"
{{- if .work }}
export AWS_REGION=eu-west-1
export REGION=eu-west-1
{{- end }}

# This speeds up pasting w/ autosuggest
# https://github.com/zsh-users/zsh-autosuggestions/issues/238
pasteinit() {
  OLD_SELF_INSERT=${${(s.:.)widgets[self-insert]}[2,3]}
  zle -N self-insert url-quote-magic
}

pastefinish() {
  zle -N self-insert $OLD_SELF_INSERT
}
zstyle :bracketed-paste-magic paste-init pasteinit
zstyle :bracketed-paste-magic paste-finish pastefinish

# https://github.com/zsh-users/zsh-autosuggestions/issues/351
ZSH_AUTOSUGGEST_CLEAR_WIDGETS+=(bracketed-paste)

# zsh helpers
source "${HOME}/.zsh_aliases"
source "${HOME}/.zsh_functions"
{{- if .work }}
source "${HOME}/.zsh_wtr_functions"
{{- end }}
source "${HOME}/.zsh_git_title"
{{- if .work }}

(( ${+functions[compdef]} )) || { autoload -Uz compinit && compinit }
source <(kubectl completion zsh)

export GPG_TTY="$(tty)"
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent
{{- end }}

# z - directory jumper
source $(brew --prefix)/etc/profile.d/z.sh

# mise - runtime version manager (replaces nvm, jenv, pyenv)
eval "$(mise activate zsh)"

# direnv
eval "$(direnv hook zsh)"

# atuin
eval "$(atuin init zsh)"

# starship prompt
eval "$(starship init zsh)"
{{- if .work }}

export DOCKER_HOST=unix://${HOME}/.colima/docker.sock
export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
{{- end }}
