#!/usr/bin/env bash
set -eufo pipefail

. "${CHEZMOI_SOURCE_DIR:-${HOME}/.local/share/chezmoi/home}/../lib/log.sh"

function chsh::change_if_needed() {
  if [ "$SHELL" != "$(which zsh)" ]; then
    log::info "changing shell to zsh"
    sudo chsh -s "$(which zsh)" "$(whoami)"
    log::info::complete
  fi
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
  chsh::change_if_needed
fi
