#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

if [ -d "${HOME}/.config/nvim" ]; then
  log::info "running nvim packersync"
  # https://github.com/wbthomason/packer.nvim/issues/700
  nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
  log::info::complete
fi
