#!/usr/bin/env bash
set -eufo pipefail

. "${CHEZMOI_SOURCE_DIR:-${HOME}/.local/share/chezmoi}/lib/log.sh"

{{- if ne .chezmoi.os "darwin" }}
exit 0
{{- end }}

{{- if not .work }}
exit 0
{{- end }}

pipx ensurepath

{{ $pips := list
      "aws-sso-util" -}}

log::info "installing common pipx"
{{ range ($pips | sortAlpha | uniq) -}}
pipx install "{{ . }}"
{{ end -}}
log::info::complete
