#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

log::info "symlinking spaceship prompt"

if [ ! -d "${HOME}/.zfunctions" ]; then
  mkdir "${HOME}/.zfunctions"
fi

ln -sf "${HOME}/.zgen/spaceship-prompt/spaceship-prompt-master/spaceship.zsh" "${HOME}/.zfunctions/prompt_spaceship_setup"

log::info::complete
