#!/usr/bin/env bash
set -eufo pipefail

. "${HOME}/.local/share/chezmoi/lib/log.sh"

log::info "installing java versions"

# sdkman-init.sh has unbound variables and requires glob expansion
set +uf

export SDKMAN_DIR="${HOME}/.sdkman"
[[ -s "${HOME}/.sdkman/bin/sdkman-init.sh" ]] && source "${HOME}/.sdkman/bin/sdkman-init.sh"

echo y | sdk install java 17.0.4-tem || true
echo n | sdk install java 21.0.3-tem || true
echo n | sdk install java 25.0.2-tem || true

jenv add $HOME/.sdkman/candidates/java/17.0.4-tem/
jenv add $HOME/.sdkman/candidates/java/21.0.3-tem/
jenv add $HOME/.sdkman/candidates/java/25.0.2-tem/

eval "$(jenv init -)"
jenv enable-plugin export

set -uf

log::info::complete
