#!/usr/bin/env bash
set -eufo pipefail

. "${HOME}/.local/share/chezmoi/lib/log.sh"

{{ $brews := list
      "atuin"
      "bat"
      "curl"
      "eza"
      "fd"
      "git-absorb"
      "git-delta"
      "gitleaks"
      "jq"
      "neovim"
      "ripgrep"
      "tmux"
      "watch"
      "yq"
      "z" -}}

{{ $casks := list -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ $brews = concat $brews (list
      "awscli"
      "cfn-lint"
      "colima"
      "copilot-cli"
      "direnv"
      "docker"
      "docker-credential-helper-ecr"
      "git"
      "git-cliff"
      "glab"
      "glances"
      "gnupg"
      "gradle"
      "gradle-completion"
      "helm"
      "hopenpgp-tools"
      "hugo"
      "jenv"
      "k9s"
      "kubectx"
      "kubernetes-cli"
      "liquibase"
      "maven"
      "nvm"
      "pinentry-mac"
      "pipx"
      "skaffold"
      "snyk"
      "step"
      "uv"
      "wget"
      "ykman"
      "yubikey-personalization") -}}

{{ $casks = list
     "alfred"
     "bruno"
     "dbeaver-community"
     "font-fira-code"
     "font-jetbrains-mono"
     "ghostty"
     "gimp"
     "insomnia"
     "jetbrains-toolbox"
     "rectangle-pro" -}}

{{ end -}}

log::info "installing brews"
brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
log::info::complete
