#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

if [ -d "${HOME}/.config/nvim" ]; then
  log::info "running nvim lazy sync"
  # https://github.com/folke/lazy.nvim
  nvim --headless "+Lazy! sync" +qa
  log::info::complete
fi
