{{ if not .gitpod -}}
#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

# sdkman
if [ ! -d "${HOME}/.sdkman" ]; then
  log_info "installing sdkman"
  curl -s "https://get.sdkman.io?rcupdate=false" | bash
  log_info_complete
fi

# homebrew
if ! [ -x "$(command -v brew)" ]; then
  log_info "installing homebrew"

  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
  test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  test -r ~/.bash_profile && echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.bash_profile
  echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.profile

  log_info_complete
fi

# nvm
if ! [ -x "$(command -v nvm)" ]; then
  log_info "installing nvm"
  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
  log_info_complete
fi

# flatpak
if ! [ -x "$(command -v flatpak)" ]; then
  log_info "installing flatpak"
  sudo apt-get update
  sudo apt-get install -y flatpak
  flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
  log_info_complete
fi
{{ end -}}
