#!/usr/bin/env bash
set -eufo pipefail

. "${CHEZMOI_SOURCE_DIR:-${HOME}/.local/share/chezmoi}/../lib/log.sh"

if [ -d "${HOME}/.config/nvim" ]; then
  log::info "running nvim lazy sync"
  # https://github.com/folke/lazy.nvim
  nvim --headless "+Lazy! sync" +qa
  log::info::complete
fi
