#!/usr/bin/env bash
set -eufo pipefail

# sdkman
if [ ! "$(command -v sdk)" ]; then
  curl -s "https://get.sdkman.io?rcupdate=false" | bash
fi

# homebrew
if [ ! "$(command -v brew)" ]; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# flatpak
if [ ! "$(command -v flatpak)" ]; then
  sudo apt update
  sudo apt install -y flatpak
  flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
fi
