#!/usr/bin/env bash
set -eufo pipefail

. "${CHEZMOI_SOURCE_DIR:-${HOME}/.local/share/chezmoi}/../lib/log.sh"

log::info "installing node versions via mise"
mise install node@24.14.1
log::info::complete

log::info "installing corepack"
npm install -g corepack
log::info::complete
