#!/usr/bin/env bash
set -eufo pipefail

. "${HOME}/.local/share/chezmoi/lib/log.sh"

{{ if eq .chezmoi.os "darwin" -}}
# sdkman
if [ ! -d "${HOME}/.sdkman" ]; then
  log::info "installing sdkman"
  curl -s "https://get.sdkman.io?rcupdate=false" | bash
  log::info::complete
fi

# nvm
if ! [ -x "$(command -v nvm)" ]; then
  log::info "installing nvm"
  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
  log::info::complete
fi
{{- end }}
