{{- if and (eq .chezmoi.os "linux") (not .gitpod) -}}
#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

{{ $packages := list
    "python3-pip"
    "python3-venv"
    "zsh"
    "wget"
    "gnupg2"
    "gnupg-agent"
    "dirmngr"
    "cryptsetup"
    "scdaemon"
    "pcscd"
    "secure-delete"
    "hopenpgp-tools"
    "yubikey-personalization"
    "rofi"
    "deja-dup"
    "flameshot"
    "insomnia" -}}

log::info "adding insomnia source"
echo "deb [trusted=yes arch=amd64] https://download.konghq.com/insomnia-ubuntu/ default all" \
    | sudo tee /etc/apt/sources.list.d/insomnia.list
log::info::complete

log::info "installing linux packages"
sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}
log::info::complete

{{- end }}
