{{- if and (eq .chezmoi.os "linux") (not .gitpod) -}}
#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

{{ $flatpaks := list
     "com.github.tchx84.Flatseal"
     "com.mattjakeman.ExtensionManager"
     "md.obsidian.Obsidian" -}}

log_info "installing flatpaks"
{{ range ($flatpaks | sortAlpha | uniq) -}}
flatpak install flathub --noninterative --assumeyes "{{ . }}"
{{ end -}}
log_info_complete

{{- end }}
