{{- if and (eq .chezmoi.os "linux") (not .headless) -}}
#!/usr/bin/env bash
set -eufo pipefail

{{ $snaps := list
     "chromium"
     "discord"
     "dbeaver-ce"
     "espanso"
     "firefox"
     "gimp"
     "mqtt-explorer"
     "postman"
     "slack"
     "todoist" -}}

{{ range ($snaps | sortAlpha | uniq) -}}
sudo snap install "{{ . }}"
{{ end -}}
{{- end }}
