{{- if and (eq .chezmoi.os "linux") (not .gitpod) -}}
#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

log_info "installing obs"
sudo add-apt-repository ppa:obsproject/obs-studio -y
sudo apt-get update
sudo apt-get install -y obs-studio
log_info_complete

{{- end }}
