{{- if and (eq .chezmoi.os "linux") (not .gitpod) -}}
#!/usr/bin/env bash
set -eufo pipefail

printf "INFO: installing obs\n"

sudo add-apt-repository ppa:obsproject/obs-studio
sudo apt update
sudo apt install -y obs-studio
{{- end }}
