{{- if and (eq .chezmoi.os "linux") (not .gitpod) -}}
#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

{{ $snaps := list
     "chromium"
     "discord"
     "dbeaver-ce"
     "espanso"
     "firefox"
     "gimp"
     "mqtt-explorer"
     "postman"
     "slack"
     "todoist" -}}

log_info "installing snaps"
{{ range ($snaps | sortAlpha | uniq) -}}
sudo snap install "{{ . }}"
{{ end -}}
log_info_complete

{{- end }}
