{{- if and (eq .chezmoi.os "linux") .docker -}}
#!/usr/bin/env bash
set -eufo pipefail

if ! [ -x "$(command -v docker)" ]; then
	printf "INFO: setting up docker\n"
	
	# https://docs.docker.com/engine/install/ubuntu/
	
	sudo apt update
	sudo apt install -y \
	    ca-certificates \
	    curl \
	    gnupg \
	    lsb-release
	
	sudo mkdir -p /etc/apt/keyrings
	curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
	
	echo \
	  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
	  $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
	
	sudo apt update
	sudo apt install -y \
	    docker-ce \
	    docker-ce-cli \
	    containerd.io \
	    docker-compose-plugin
	
	sudo usermod $USER --append --group docker
fi

{{ end -}}
