{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -eufo pipefail

. "$(chezmoi source-path)/../lib/log.sh"

{{ $packages := list
     "python3-pip"
     "python3-venv" -}}

{{ if not .gitpod -}}
  {{ $packages = concat $packages (list
       "wget"
       "gnupg2"
       "gnupg-agent"
       "dirmngr"
       "cryptsetup"
       "scdaemon"
       "pcscd"
       "secure-delete"
       "hopenpgp-tools"
       "yubikey-personalization"
       "rofi"
       "deja-dup"
       "flameshot") -}}
{{ end -}}

log_info "installing linux packages"
sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}
log_info_complete

{{- end }}
