[user]
	name = Jamie McDonald
	email = jamie@qwyck.net
[alias]
	aliases = config --get-regexp alias
	l = log -5 --pretty --oneline
	ll = log --all --graph --decorate --oneline --simplify-by-decoration
	pror = remote prune origin
	poh = push -u origin HEAD
[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore
	pager = delta
	autocrlf = input
[status]
	submoduleSummary = true
[interactive]
	diffFilter = delta --color-only
[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = base16

[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper =
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
{{ if .work -}}
[includeIf "gitdir:~/Development/"]
	path = ~/.config/git/waitrose.com
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://gitlab.com/"]
	insteadOf = git@gitlab.com:
{{- end }}
