[user]
	name = Jamie McDonald
	email = jamie@qwyck.net
	signingkey = 378F7ADE3FC73F27
[alias]
	aliases = config --get-regexp alias
	l = log -5 --pretty --oneline
	ll = log --all --graph --decorate --oneline --simplify-by-decoration
	pror = remote prune origin
	poh = push -u origin HEAD
[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore
	pager = delta
	autocrlf = input
[status]
	submoduleSummary = true
[interactive]
	diffFilter = delta --color-only
[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = base16

[init]
	defaultBranch = master
[pull]
	rebase = false
[commit]
	gpgsign = true
[gpg]
{{ if eq .chezmoi.os "linux" -}}
	program = /usr/bin/gpg
{{- end }}
{{- if eq .chezmoi.os "darwin" -}}
	program = /opt/homebrew/bin/gpg
{{- end }}
{{ if not .gitpod -}}
[includeIf "gitdir:~/Development/"]
	path = ~/.config/git/waitrose.com
{{- end }}
